{% extends "index.html"%}
{%block contenido%}
<div class="pt-4" style="font-family: cursive; align-items: center; display: flex; flex-direction: column;">
    <a href="/vistaAgregarProducto/">
        <button class="btn btn-outline-info">Agregar</button>
    </a>
</div>
{% load static%}
<script src="{% static '../static/app.js'%}"></script>
<div class="container">
    <div style="margin: 0 auto">
        <H3 class="text-center">LISTADO DE PRODUCTO</H3>
        <table class="table table-bordered w-75" style="margin: 0 auto">
            <thead class="table-secondary">
                <tr class="text-center fw-bold">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in productos%}
                <tr>
                    <td>{{p.proCodigo}}</td>
                    <td>{{p.proNombre}}</td>
                    <td>{{p.proPrecio}}</td>
                    <td class="text-center">
                        <img src="../media/{{p.proFoto}}" alt="" width="50" height="50">
                    </td>
                    <td>{{p.proCategoria.catNombre}}</td>
                    <td class="text-center">
                        <a href="/consultarProductoPorId/{{p.pk}}/"><ion-icon name="create"></ion-icon></a>
                        <ion-icon name="trash" onclick="eliminarProducto('{{p.pk}}')">Eliminar</ion-icon>                            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock%}
